.legend {
	padding-left: 18px;
}
.x-tree-node-el {
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
}
.x-tree-ec-icon {
	width: 3px;
}
.gx-tree-layer-icon {
	display: none;
}
.x-form-item {
	overflow: false !important;
}
.ext-gecko {
	overflow: false !important;
}
.x-window-body {
	overflow: false !important;
}
/*.olControlFeaturePopups_list {
	width: 250px !important; 
	height: 200px !important;
	overflow-y: scroll !important;
}*/
a:link {
	color:#000000;
	text-decoration:underline;
}
a:visited {
	color:#000000;
	text-decoration:underline;
}
a:hover {
	color:#707070;
	text-decoration:none;
}
a:active {
	color:#FF6600;
	text-decoration:none;
}
.leadList {
	font-weight: bold;
}
.x-form-element {
	padding-left: 5px !important;
}
.x-form-el-ext-comp {
	padding-left: 0px !important;
}
.x-checkboxcombo-list {
	width: auto !important;
}
.x-checkboxcombo-list-inner {
	width: auto !important;
}
.x-column {
	padding-left:10px !important;
	width: auto !important;
}
.x-column-inner {
	padding-top: 15px !important;
	width: auto !important;
}
.x-form-check-group {
	/* border: 1px solid #ddd; */
	width: auto !important;
	overflow: visible !important;
}
.x-form-item-label {
	padding-left: 15px !important;
	width: 0px !important;
}
/*#ext-comp-1011 {
	width: 285px !important;
}*/

/* "Search" and "Reset" buttons */
.x-panel-body x-form {
	height: 310px !important;
}
/* Add A Lead" Button */
#ext-comp-1061{
	top: 485px !important;
}
.x-panel-btns {
	padding:0px !important;
}
.contentBody {
	padding-top:0px; 
	padding-left:0px; 
	padding-right:0px; 
	padding-bottom:0px
}
.reqField {
	font-style: bold;
	color: #F78181;
}


html, body {
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	min-width:925px;
	width: auto !important;  /* Firefox will set width as auto */
	width:925px;             /* As IE ignores !important it will set width as 1000px; */
}

#wrap {
	min-height: 100%;
	background-color: #f0f0f0;}

#main {
	overflow:auto;
	margin-top: 120px;
	padding-bottom: 70px;  /* must be same height as the footer */
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 75%;
	background: white;
}
 
.mainContent {
	max-width: 1240px;
	min-width: 753px;
	margin: 0 auto;
	min-height: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

#footer {
	position: relative;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear:both;
	font-size: 10px;
	font-family: sans-serif;
	color: #808080; 
	border-top: 1px solid #c0c0c0;
	background-color: white;} 
	
#header {
	position: relative;
	margin-bottom: -120px; /* negative value of footer height */
	height: 120px;
	clear:both;
	border-bottom: 1px solid #c0c0c0;
	background-color: white;} 	


	
h1 {
  font: 28px Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #001c50;
  text-transform: uppercase;
  margin: 30px 0px 6px 0px; }

h2 {
  font: 24px Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #001c50;
  text-transform: uppercase;
  margin: 20px 0px 4px 0px; }

  
h3 {
  font: 18px Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #001c50;
  text-transform: uppercase;
  margin: 10px 0px 2px 0px; }

h4 {
  font: 14px Arial,Helvetica,sans-serif;
  color: #001c50;
  text-transform: uppercase;
  margin: 6px 0px 1px 0px; }  

h5 {
  font: 12px Arial,Helvetica,sans-serif;
  color: #001c50;
  text-transform: uppercase;
  margin: 6px 0px 1px 0px; }  

h6 {
  font: 12px Arial,Helvetica,sans-serif;
  color: #202020;
  margin: 6px 0px 1px 0px; }  

disclaimer {
  font: 10px Arial,Helvetica,sans-serif;
  color: #202020; }  
  
 p {
  font: 10px Arial,Helvetica,sans-serif;
  margin: 8px 10px 0px 10px; }  

stat {
  font: 24px Arial,Helvetica,sans-serif;
  color: #000000;
  margin: 0px 0px 0px 0px; } 
	
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

#wrap #header {
	padding-bottom: 20px;
	height: 100px; 
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#c0c0c0;
	padding-left: 134px;
	padding-right: 60px;
}
#wrap #header a.logo {
    float: left; }
  
#wrap .nav a {
      display: block;
      width: auto;
      padding: 7px 36px 8px 6px;
      color: #575759;
      font: 12px Arial,Helvetica,sans-serif;
      text-decoration: none;
      border: 1px solid #A7A9AC; }
    #wrap .nav li.clear a {
      width: 90px;
      height: 24px;
      padding: 10px 0px 0px 0px;
      padding-top: -moz-calc(10px - 2px);
      height: -moz-calc(24px + 2px);
      color: white;
      font: 12px Arial,Helvetica,sans-serif;
      text-decoration: none;
      border: none;
      background: transparent url(../img/clear-button.png) no-repeat;
      text-align: center; }
    #wrap .nav li.clear a:hover {
      background: transparent url(../img/clear-button-hover.png); }
    #wrap .nav a.closebutton {
      padding: 0px;
      color: #575759;
      font: 10px Arial,Helvetica,sans-serif;
      text-decoration: none;
      border: none;
      background: none;
      display: inline-block;
      width: 29px;
      height: 28px;
      background: transparent url(../img/close-filter-nav.png);
      position: absolute;
      bottom: -20px;
      right: -15px;
      float: right; }
    #wrap .nav a.hasSelections {
      border: 1px solid #FF0000; }
    #wrap .nav li {
      float: left;
      margin-right: 6px; }
    #wrap .nav li:hover {
      background-color: #f0f0f0;
      -webkit-box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.2);
      padding-bottom: 0px; }
    #wrap .nav li.clear:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
    #wrap .nav li.clear:hover a {
        border-bottom: none; }
    #wrap .nav li div {
      position: absolute;
      width: 95.5%;
      list-style: none;
      background-color: #f0f0f0;
      max-width: 830px;
      padding: 12px 0px 12px 0px;
      border-top: 1px solid #A7A9AC;
      border-right: 1px solid #A7A9AC;
      border-bottom: 7px solid #bf1e2e;
      border-left: 1px solid #A7A9AC;
      margin: 10px 0px 0px 0px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      left: -9999em;
      z-index: 200;
      -webkit-border-radius: 0px 0px 9px 9px;
      border-radius: 0px 0px 9px 9px;
      -webkit-box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.3); }
      #wrap .nav li div span {
        height: 11px;
        background-color: #f0f0f0;
        margin: -23px 0px 0px -1px;
        display: block;
        border-right: 1px solid #A7A9AC;
        border-left: 1px solid #A7A9AC;
        position: absolute; }
    #wrap .nav li div ul {
      margin: 0px;
      padding: 0px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #wrap .nav li ul.out {
      left: auto; }
    #wrap .nav li:hover div {
      left: auto; }
    #wrap .nav li ul.lg {
      width: 59%; }
    #wrap .nav li:hover ul.lg {
      left: 0px; }
    #wrap .nav li.right {
      position: relative; }
    #wrap .nav li.right:hover ul {
      right: 0px; }
    #wrap .nav li ul.md {
      width: 490px; }
    #wrap .nav li ul li {
      float: none;
      margin: 0px;
      display: block;
      height: 27px;
      background-color: transparent;
      border: none; }
    #wrap .nav li ul li input {
        opacity: 0;
        filter: alpha(opacity=0);
        height: 15px;
        padding-bottom: 10px;
        width: 15px;
        display: block;
        float: left;
        margin: 10px 4px 0px 18px;
        z-index: 20;
        position: relative; }
    #wrap .nav li ul li label {
        display: inline;
        font-size: 12px;
        color: #575759;
        padding: 8px 0px 6px 42px;
        margin: -25px 0px 0px 0px;
        background: transparent url(../img/checkbox3.png) no-repeat 18px 9px;
        float: left;
        z-index: 10;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    #wrap .nav li ul li input[type=checkbox]:checked ~ label {
        background: #d8d8d8 url(../img/checked-box3.png) no-repeat 18px 9px; }
    #wrap .nav li ul li:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-bottom: 0px; }
    #wrap .nav li ul.lg div {
      width: 33%;
      float: left; }
    #wrap .nav li ul.sm div {
      width: 100%;
      float: left; }
    #wrap .nav li ul div:first-child li:first-child {
      margin-bottom: 25px; }
	#wrap .full-width {
		max-width: 1240px;
		padding: 0px; }
			
		
	.content { }
	.content p {
		font: 14px Arial,Helvetica,sans-serif;
		color: #58595b;
		margin-top: 0px;
		line-height: 1.8; }

	
leadCount {
	font-size:12px;
    color:#808080;
    font-weight:bold;
	padding-bottom: 5px;
}



leadLink:link {
	color:#001C50;
	text-decoration:none;
}
leadLink:visited {
	color:#001C50;
	text-decoration:none;
}
leadLink:hover {
	color:#707070;
	text-decoration:none;
}
leadLink:active {
	color:#001C50;
	text-decoration:none;
}

/**
 * Popups
 */
.popupLead{
	overflow-y: auto !important;
	width: 250px !important;
	height: auto !important;
}
.popupLeadCount{
	font-size: 12px;
	font-weight: bold !important;
	color: #404040;
}
.popupLeadList {
	font-size: 14px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	width: 220px !important;
	padding-bottom: 3px !important;
	font-size: 14px;
	color: #001C50;
}
.popupLeadTitle {
	font-size: 14px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	width: 220px !important;
	padding-top: 5px !important;
	padding-bottom: 3px !important;
	font-size: 14px;
	color: #001C50;
}
.popupLeadSummary {
	padding-right: 5px !important;
	padding-bottom: 5px !important;
	font-size: 10px;
	color: #202020;
}
.popupLeadDetails {
	padding-right: 20px !important;
	font-size: 10px;
	color: #202020;
}
.olPopupContent {
    padding:5px;
    overflow-y: scroll;
	border: 0.5px solid #c0c0c0;
}
.olPopupCloseBox {
  background: url("../../lib/ext-3.4.0/resources/images/wireframe/qtip/close.gif") no-repeat !important;
  cursor: pointer !important;
  right: 2px !important;
}
.olFramedCloudPopupContent {
    overflow-y: auto !important;
	padding: 0px;
    left: 18px !important;
	width: 250px !important; 
	height: 250px !important;
}
#addBtn {
	font-size: 13px !important;
	font-weight: bold !important;
	font-style: italic !important;
}


/* Header Nav */
 #wrap #header .nav {
    padding-top: 28px;
    margin: 0;
    list-style: none;
    height: 35px;
    display: inline-block;
    float: right;
    max-width: 734px;
	}
  #wrap #header .nav a {
    display: block;
    width: auto;
    padding: 11.5px 8px;
    color: white;
    font: 15px Arial,Helvetica,sans-serif;
    background-color: #C0C0C0;
    text-decoration: none; }
  #wrap #header .nav a:hover {
    background-color: #FF9933; }
  #wrap #header .nav li {
    float: right;
    margin: 0px 0px 0px 8px; }
  
  
/* SIDENAV */
.sideNav {
    padding: 0;
    margin: 0px 0px 0px 0px;
    list-style: none;
    height: 26px;
    display: inline-block;
    max-width: 180px;
    /*li ul.sector {
        width: 50%;
        float: left;
        label {
            max-width: 197px;
        }
    }*/
}
.sideNav a {
	box-shadow: 0 0 2px #606060;
    display: block;
    width: 134px;
	height: 67px;
	padding: 15px 36px 8px 15px;
    color: #FFFFFF;
	text-shadow: 1px 1px 3px #303030;
    font: 12px Arial,Helvetica,sans-serif;
	font-weight: bold;
    text-decoration: none;
	letter-spacing: 1px;
	word-spacing: 2px;
}
	.sideNav a:hover {
      display: block;
      width: 134px;
	  height: 67px;
	  padding: 15px 36px 8px 15px;
      color: #FFFFFF;
	  text-shadow: 1px 1px 3px #000000;
      font: 12px Arial,Helvetica,sans-serif;
	  font-weight: bold;
      text-decoration: none;
	  letter-spacing: 1px;
	  word-spacing: 2px;
	}
    .sideNav li.clear a {
      width: 90px;
      height: 24px;
      padding: 10px 0px 0px 0px;
      padding-top: -moz-calc(10px - 2px);
      height: -moz-calc(24px + 2px);
      color: white;
      font: 12px Arial,Helvetica,sans-serif;
      text-decoration: none;
      border: none;
      background: transparent url(../img/clear-button.png) no-repeat;
      text-align: center;
	}
    .sideNav li.clear a:hover {
      background: transparent url(../img/clear-button-hover.png);
	}
    .sideNav a.closebutton {
      padding: 0px;
      color: #575759;
      font: 10px Arial,Helvetica,sans-serif;
      text-decoration: none;
      border: none;
      background: none;
      display: inline-block;
      width: 29px;
      height: 28px;
      background: transparent url(../img/close-filter-nav.png);
      position: absolute;
      bottom: -20px;
      right: -15px;
      float: right;
	}
    .sideNav a.hasSelections {
      border: 1px solid #FF0000; }
    .sideNav li {
      float: left;
      margin-right: 6px; }
    .sideNav li:hover {
      background-color: #f0f0f0;
      -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
      padding-bottom: 0px;
	  }
    .sideNav li.clear:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .sideNav li.clear:hover a {
        border-bottom: none; }
    .sideNav li div {
      position: absolute;
      width: 95.5%;
      list-style: none;
      background-color: #f0f0f0;
      max-width: 830px;
      padding: 12px 0px 12px 0px;
      border-top: 1px solid #A7A9AC;
      border-right: 1px solid #A7A9AC;
      border-bottom: 7px solid #bf1e2e;
      border-left: 1px solid #A7A9AC;
      margin: 10px 0px 0px 0px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      left: -9999em;
      z-index: 200;
      -webkit-border-radius: 0px 0px 9px 9px;
      border-radius: 0px 0px 9px 9px;
      -webkit-box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.3); }
    .sideNav li div span {
        height: 11px;
        background-color: #f0f0f0;
        margin: -23px 0px 0px -1px;
        display: block;
        border-right: 1px solid #A7A9AC;
        border-left: 1px solid #A7A9AC;
        position: absolute; }
    .sideNav li div ul {
      margin: 0px;
      padding: 0px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .sideNav li ul.out {
      left: auto; }
    .sideNav li:hover div {
      left: auto; }
    .sideNav li ul.lg {
      width: 59%; }
    .sideNav li:hover ul.lg {
      left: 0px; }
    .sideNav li.right {
      position: relative; }
    .sideNav li.right:hover ul {
      right: 0px; }
   .sideNav li ul li {
      float: none;
      margin: 0px;
      display: block;
      height: 27px;
      background-color: transparent;
      border: none; }
    .sideNav li ul li input {
        opacity: 0;
        filter: alpha(opacity=0);
        height: 15px;
        padding-bottom: 10px;
        width: 15px;
        display: block;
        float: left;
        margin: 10px 4px 0px 18px;
        z-index: 20;
        position: relative; }
    .sideNav li ul li label {
        display: inline;
        font-size: 12px;
        color: #575759;
        padding: 8px 0px 6px 42px;
        margin: -25px 0px 0px 0px;
        background: transparent url(../img/checkbox3.png) no-repeat 18px 9px;
        float: left;
        z-index: 10;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .sideNav li ul li input[type=checkbox]:checked ~ label {
        background: #d8d8d8 url(../img/checked-box3.png) no-repeat 18px 9px; }
    .sideNav li ul li:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-bottom: 0px; }
    .sideNav li ul.lg div {
      width: 33%;
      float: left; }
    .sideNav li ul.sm div {
      width: 100%;
      float: left; }
    .sideNav li ul div:first-child li:first-child {
      margin-bottom: 25px; }
	.sideNav  #sideNav1 {
		background-color: #EFDFBB;
	}
	.sideNav #sideNav2 {
		background-color: #9EBEA6;
	}
	.sideNav #sideNav3 {
		background-color: #335D6A;
	}
	.sideNav #sideNav4 {
		background-color: #7A8A7F;
	}
	.sideNav #sideNav5 {
		background-color: #FF8E27;
	}

	#bidsLogo {
	height: 100px;
	width: auto;
	padding-bottom: 10px !important;
	padding-top: 8px !important;
}

/* Metrics Info Boxes */
.overlay{
    background:transparent url(../img/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.box{
    position:fixed;
    top:-200px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(../img/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}
.box h1{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#FFEFEF;
    color:#EF7777;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}
	
	