<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Example</display-name>

  <!-- Declare the existence of a servlet. -->
  
  
  <servlet>
    <servlet-name>Combo2</servlet-name>
    <servlet-class>Combo2</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LeadAdder</servlet-name>
    <servlet-class>LeadAdder</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Clear</servlet-name>
    <servlet-class>Clear</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Archive</servlet-name>
    <servlet-class>Archive</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>StaleMessenger</servlet-name>
    <servlet-class>StaleMessenger</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Reopen</servlet-name>
    <servlet-class>Reopen</servlet-class>
  </servlet>

  <!-- Map URLs to that servlet. -->
  
  <servlet-mapping>
    <servlet-name>Combo2</servlet-name>
    <url-pattern>/servlet/Combo2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LeadAdder</servlet-name>
	<http-method>POST</http-method>  
    <url-pattern>/servlet/LeadAdder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Clear</servlet-name>
    <url-pattern>/servlet/Clear</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Archive</servlet-name>
    <url-pattern>/servlet/Archive</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>StaleMessenger</servlet-name>
    <url-pattern>/servlet/StaleMessenger</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Reopen</servlet-name>
    <url-pattern>/servlet/Reopen</url-pattern>
  </servlet-mapping>
  
</web-app>